{% extends 'base.html' %}
{% load static %}
{% block 'conteudo' %}
<link rel="stylesheet" type="text/css" href="/static/css/cursos.css"/>

<h2>Faculdade Brasil Tecnologia</h2>

</div>
		<a href="#ads"><img class="foto" src="{%static 'img/ads2.png'%}" alt="ANALISE E DESENVOLVIMENTO DE SISTEMAS" title="ANALISE DESENVOLVIMENTO DE SISTEMAS"></a>
		<a href="#bd"><img class="foto" src="{%static 'img/bd2.png' %}"  alt="BANCO DE DADOS" title="BANCO DE DADOS"></a>
		<a href="#adm"><img class="foto" src="{%static 'img/adm2.png' %}" alt="ADMINISTRAÇÃO" title="ADMINISTRAÇÃO"></a></br> 
</br>

<div class="corpo">
	<h2> Objetivos dos Cursos </h2>
		<ul><a href="ads.html">GRADUAÇÃO ANALISE E DESENVOLVIMENTO DE SISTEMAS</a></ul>

		<img class="foto2" src="{%static 'img/ads.jpg'%}" alt="IMAGEM ANALISE E DESENVOLVIMENTO DE SISTEMAS" title="ANALISE E DESENVOLVIMENTO DE SISTEMAS">
		<p>	O curso forma profissionais conhecidos como Analista de Sistemas ou Desenvolvedor de Sistemas.  São esses profissionais que criam os sistemas com os quais você já teve contato: sistemas de comércio eletrônico, sistemas de redes sociais, web sites, apenas para citar alguns.
	 		Que tal fazer parte desse grupo seleto de profissionais? O melhor caminho para isso é aprender de forma gradativa, resolvendo problemas do simples ao complexo, participando ativamente de projetos reais com clientes reais, além de ter como professores os melhores profissionais de mercado.
			 Você também aprenderá a trabalhar em equipe, analisando e desenvolvendo sistemas para internet, tablets, celulares e Internet das Coisas (IoT), utilizando ambientes DevOps, linguagens e tecnologias de alta-produtividade e de melhor custo-benefício.<i><a href="ads.html">Detalhes do curso</a></i>
		</p>

		<ul>GRADUAÇÃO EM BANCO DE DADOS</ul>

		<img class="foto2" src="{%static 'img/bd.jpg'%}" alt="IMAGEM GRADUAÇÃO EM BANCO DE DADOS" title="GRADUAÇÃO EM BANCO DE DADOS">
		<p>Com o curso de Banco de Dados você será um profissional versátil e com habilidades para atuar com diversas plataformas e estruturas de desenvolvimento e administração de sistemas de banco de dados.
			Você terá todo repertório técnico e teórico, conhecendo a importância da segurança de compartilhamento de dados nas empresas modernas, dominando as melhores técnicas e ferramentas de criação e implementação, além de impulsionar a capacidade de gerência de equipes.<i><a href="disciplina.html#Graduação em Banco de Dados">Detalhes do curso</a></i></p>

		<ul>GRADUAÇÃO EM ADMINISTRAÇÃO</ul>

		<img class="foto2" src="{%static 'img/administracao.jpg'%}" alt="IMAGEM GRADUAÇÃO EM ADMINISTRAÇÃO" title="GRADUAÇÃO EM ADMINISTRAÇÃO">
		<p>A Graduação em Administração te preparara para ser um profissional completo e com as habilidades que o mercado de trabalho procura. Você será capaz de administrar, empreender, desenvolver e planejar ações, adquirindo conhecimentos estratégicos em conjunto com as novas tecnologias.

	O curso te habilita para o cenário real de gestão e liderança empresarial, garantindo a capacidade de comunicação e criatividade para solucionar problemas, atingir os melhores resultados, aumentar a produtividade e reduzir custos.<i><a href="disciplina.html#Graduação em Administração">Detalhes do curso</a></i></p>
</div>

{% endblock %}
