{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}	{% endblock %}
{% block 'conteudo' %}

<h2>Esqueci minha Senha</h2>

<form>
	<label for = "lblUser"> Usuário </label>:<br>
	<input type= "text" name ="txtUser"><br>

	<label for = "lblEmail"> E-mail</label>:<br>
	<input type= "email" name ="txtEmail"><br>

	<label for = "lblEmailConfirma"> Confirmar E-mail</label>:<br>
	<input type= "email" name ="txtEmailConfirma"><br>

	<button type="submit" value="btnEnviar"> Confirmar </button>
</form>
{% endblock %}
