{% extends 'base.html' %}
{% load static %}
{% block 'conteudo' %}
<link rel="stylesheet" type="text/css" href="/static/css/noticias.css"/>

	<h2>Notícias</h2>

		<h3><a href="http://overbr.com.br/palestras-eventos/hack-sampa-site-vencedor-monitora-politicos">Hack in SP</a></h3>
			<p>O grupo Quebrando Barreiras, que criou esta ferramenta, foi o grande vencedor do Hack in sampa, maratona hacker
			que desenvolveu sistemas de combate à corrupção utilizando dados públicos do portal da “transparência” da Câmara e da Prefeitura.</p>
			<br/><a href="http://overbr.com.br/palestras-eventos/hack-sampa-site-vencedor-monitora-politicos"><img class="foto" src="{%static 'img/hack.jpg' %}" alt="TOP3 HACK IN SP" title="TOP 3 HACK IN SP"></a>
		
		<h3><a href="cursos.html">Administração</a></h3>
			<p>Novo curso de Administração! A Faculdade Brasil Tecnologia tem orgulho de apresentar o mais novo curso de nossa grade currícular.
			Administração consiste num punhado de técnicas e Métodos para gerir ou Administrar um projeto, empresa ou até suas compras do mês.</p> 
			<br/><a href="cursos.html"><img class="foto" src="{%static 'img/adm.jpg' %}" alt="Novo curso de ADM" title="Novo Curso de ADM"></a>
			
		
		<h3><a href="http://g1.globo.com/tecnologia/noticia/brasil-sera-nosso-proximo-mercado-diz-ceo-que-implantou-chips-no-corpo-de-funcionarios-nos-eua.ghtml">(OFF) Microchip no corpo de brasileiros!</h3></a>
			<p>Uma empresa de tecnologia de Wisconsin, nos Estados Unidos, causou furor ao anunciar que implantaria chips no corpo de seus
			funcionários para substituir crachás, chaves e a necessidade de senhas em computadores e equipamentos eletrônicos.</p>
			<br/><a href="http://g1.globo.com/tecnologia/noticia/brasil-sera-nosso-proximo-mercado-diz-ceo-que-implantou-chips-no-corpo-de-funcionarios-nos-eua.ghtml"><img class="foto" src="{%static 'img/chip.png' %}" alt="Microchip" title="Microchip"></a>
				
		<h3><a href="https://www.tecmundo.com.br/internet/121333-cientista-afirmam-futuro-poderemos-apagar-memorias-ruins.htm"><p>(OFF) Cientista afirmam quepoderemos apagar memórias ruins</h3></a>
			<p>Tim Bliss, um renomado neurocientista britânico, afirmou durante uma entrevista para o Business Insider UK que, dentro de 10 anos,
			poderemos deletar memórias ruins de nosso cérebro. Essa é uma idéia um tanto quanto utópica. Algo que lembra "Black Mirror" mas 
			poderá se tornar real em alguns anos.</p>
			<br/><a href="https://www.tecmundo.com.br/internet/121333-cientista-afirmam-futuro-poderemos-apagar-memorias-ruins.htm"><img class="foto" src="{%static 'img/memoria.jpg' %}" alt="Capacete-memoria" title="Memória"></a>
				
		<h3><a href="#">Hackatruck na FBT!</h3></a>
			<p>Já está no campus Higienópolis o Hackatruck, um veículo com características especiais, onde serão desenvolvidos cursos, palestras
			e oficinas. Os alunos, para participarem, precisam ter sido aprovados no curso de ensino a distância (EAD) de Conceitos e Fundamentos:
			Lógica de Programação, Orientação a Objetos e Swift, etapa que aconteceu de 24 de julho até dia 13 de agosto.</p>
			<br/><img img class="foto" src="{%static 'img/hackatruck.jpg' %}" alt="truck" title="hackatruck">

		<h3><a href="#">Aluna de Mestrado é premiada na Áustria</h3></a>
			<p>Entre os dias 26 e 30 de julho, aconteceu a 13th International Conference on Diffusion in Solids and Liquids - DSL2017, em Viena,
			na Áustria. Durante o evento a aluna Carolina Comin Tegon, do Mestrado em Engenharia de Materiais e Nanotecnologia, recebeu o prêmio
			de “Melhor Apresentação de Pôster”.O evento é um importante espaço que reúne acadêmicos, membros da indústria para trocas de conhecimentos
			e atua como um importante gerador de insights para lidar com os problemas da atualidade na área.</p>
			<br/><img img class="foto" src="{%static 'img/premio.jpg' %}" alt="aluna premiada" title="Aluna Premiada">
	
{% endblock %}
	