{% extends 'base.html' %}
{% load static %}
{% block 'conteudo' %}  

<h2>Criação de um Novo usuário</h2>
	<form method="POST">
		{%csrf_token%}
		<label for = "lblnome">Nome completo</label>:<br>
		<input type= "text" name ="txtNome"><br>

		<label for = "lblTelefone">Celular</label>:<br>
		<input type= "text" name ="txtCel"><br>
		
		<label for = "lblEmail">E-mail</label>:<br>
		<input type= "email" name ="txtEmail"><br>

		<label for = "lblRa">Numero do RA</label>:<br>
		<input type= "number" name ="numRa"><br>
		
		<label>Curso:</label><br>
		<select name="Cursos">
			<option>Selecione</option>
			<option value="SI">Sistemas de informação</option>
			<option value="Gestao">Gestão</option>
			<option value="ADS">Análise e desenvolvimento de sistemas</option>
		</select><br>
		
		<label for = "lblSenha"> Senha</label>:<br>
		<input type= "password" name ="txtSenha"><br>

		<label for = "lblSenhaCon">Confirmar Senha</label>:<br>
		<input type= "password" name ="txtSenhaCon"><br>

		<button type="submit" value="btnEnviar">Confirmar</button>
	</form>

{% endblock %}
	